.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-color: #f0f0f0;
  }
  
  .homeContainer h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .homeContainer p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #777;
  }
  
  .homeButton {
    padding: 0.8rem 1.5rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
  }
  
  .homeButton:hover {
    background-color: #2980b9;
  }
  